@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: rgb(233,237,242);
	font-size: 16px;
	line-height: 1.5;
}

nav {
	padding: 20px;
	text-align: right;
}


.about {
	width: 66.66%;
	padding: 2%;
}

h1, h2 {
	font-family: 'Roboto Mono', monospace;
	color: rgb(233,237,242);
	text-align: center;
}

h1 {
	font-size: 6em;
	font-weight: 800;
	padding-top: 200px;
}

h2 {
	font-size: 2em;
	font-weight: 600;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	padding: 10px;
}

iframe {
	padding: 10px 0;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
}

p {
	padding: 10px;
	clear: both;
}

a 	{
	font-family: 'Roboto Slab', serif;
}

nav a {
	display: inline-block;
	word-spacing: .5em;
	padding: 10px;
	color: rgb(233,237,242);
	font-size: 2em;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

footer {
	clear: both;
	width: 100%
}

footer a {
	display: block;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.sociallogos {
	height: 50px;
}

.about {
	color: rgb(233,237,242);
	float: right;
}

#about_img {
	float: right;
	width: 33.33%;
}

#wrapper {
	background-color: rgb(37,48,65);
}
#wrapper > div {
	width: 1200px;
	margin: auto;
}

#hero {
	background: url(backgrounds/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
}

.music {
	color: rgb(30,39,53);
	float: left;
	width: 50%;
}

#social {
	float: right;
}

#email {
	float: left;
}
